/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar .left {
    padding: 5vh;
    font-weight: bold;
}

.navbar .middle {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .right {
    padding: 5vh;
}


@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .middle {
        position: static;
        transform: none;
        margin-top: 10px;
        display: flex;
        gap: 20px;
    }

    .navbar .left,
    .navbar .right {
        margin-bottom: 10px;
    }
}